@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {

  /* Colors*/
  --color-blue: #4A69E2;
  --color-yellow: #FFA52F;
  --color-natural-light: #FAFAFA;
  --color-light-gray: #E7E7E3;
  --color-gray: #70706E;
  --color-neutrals-gray-2: #D2D1D3;
  --color-neutrals-gray-3: #BCBBBE;
  --color-neutrals-gray-4: #A5A3A7;
  --color-neutrals-gray-5: #8F8C91;
  --color-neutrals-gray-6: #79767C;
  --color-neutrals-gray-9: #36323B;
  --color-neutrals-gray-10: #1F1A24;
  --color-dark-gray: #232321;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-sucess: #008B28;
  --color-error: #DA1E28;
  --color-bg: #E7E7E3;

  /* Font*/
  --font-open-sans: 'Open Sans', sans-serif;
  --font-rubik: 'Rubik', sans-serif;
  --font-inter: 'Inter', sans-serif;

  /*Screens*/
  --breakpoint-xs:320px;
  --breakpoint-sm:375px;
  --breakpoint-md:425px;
  --breakpoint-lg:768px;
  --breakpoint-xl:1024px;
  --breakpoint-2xl:1440px;
}

@utility font-open-sans {
  font-family: var(--font-open-sans);
}

@utility font-rubik {
  font-family: var(--font-rubik);
}

@utility font-inter {
  font-family: var(--font-inter);
}

@utility section-margin {
  margin-inline: clamp(16px, 4vw, 60px);
}
@utility section-heading{
  font-size: clamp(24px, 6.5vw, 74px);
  font-family: var(--font-rubik);
  font-weight: 600;
  line-height: 100%;
}

@utility h1 {
  font-size: clamp(36px, 11.8vw, 48px);
  font-family: var(--font-rubik);
  font-weight: 600;
  line-height: 100%;
}

@utility h2 {
  font-size: clamp(32px, 11.8vw, 36px);
  font-family: var(--font-rubik);
  font-weight: 600;
  line-height: 100%;
}

@utility h3 {
  font-size: clamp(26px, 11.8vw, 32px);
  font-family: var(--font-rubik);
  font-weight: 600;
  line-height: 100%;
}

@utility h4 {
  font-size: clamp(16px, 2vw, 24px);
  font-family: var(--font-rubik);
  font-weight: 600;
  line-height: 100%;
}

@utility h5 {
  font-size: clamp(20px, 11.8vw, 26px);
  font-family: var(--font-rubik);
  font-weight: 600;
  line-height: 100%;
}

@utility h6 {
  font-size: 16px;
  font-family: var(--font-rubik);
  font-weight: 600;
  line-height: 100%;
}

@utility p {
  font-size: 16px;
  font-family: var(--font-open-sans);
  font-weight: 400;
  line-height: 30px;
}

body {
  background-color: var(--color-bg);
  padding-block: clamp(24px, 2vw, 32px);
}

